* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: "Poppins";
 }

 #wrapper{
    background-image: radial-gradient(rgb(139, 195, 245), #1294b8);
 }

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p{
    font-size: 30px;
    color:white;
}
nav a{
    color: white;
    font-size:10px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    gap:10px;

}
ul { 
    list-style-type: none;
 }
  
 li{
    padding: 5px;
 }

header div{
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
 }
main{
    background-image: radial-gradient(rgb(139, 195, 245), #1294b8);
}

img {
   padding-left: 150px;
   padding-right: 150;
   padding-top: 100px;
    }    

#presentation{
    display: flex;
    box-sizing: border-box;
    font-size: 24px;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
    }